<ion-view cache-view="false" view-title="{{'crea' | translate}}">
  <ion-content>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 col-center">
        <h1>{{"scegliLista" | translate}}</h1>
      </div>
      <div class="col col-10"></div>
    </div>

    <ion-list>
      <ion-scroll scrollbar-x="false" scrollbar-y="false">


        <ion-item ng-repeat="item in itemsW">
          <div class="row">
            <div class="col col-80 col-center">
              <div class="row">
                <div class="col col-50">
                  <h2>{{item.word}}</h2>
                </div>
                <div class="col col-10"><i class="icon ion-ios-arrow-thin-right"></i>
                </div>
                <div class="col col-50">
                  <label class="item item-input boxTextGame">
                    <input type="text" name="itemValue" id="{{item.word1}}" style="padding-bottom: 17px;"
                           onchange="checkItem(this);"
                           ng-model="wordTmp">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ion-item>

      </ion-scroll>
    </ion-list>
  </ion-content>

  <div class="col-offset-80 fixed-div" style="margin-bottom: 2em;">
    <div class="row">
      <button class="button button-balanced" style="width: 100%;" ng-click="end()">{{"finito" | translate}}
      </button>
    </div>
  </div>
</ion-view>
