<ion-view view-title="{{'inizia' | translate}}">
  <ion-content overflow-scroll="true" has-bouncing="false">
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 col-center">
        <h1>{{"scegliLista" | translate}}</h1>
      </div>
      <div class="col col-10"></div>
    </div>

    <ion-list can-swipe="true">

      <ion-item ng-repeat="item in items">
        <div class="row" style="height: 10%;">
          <div class=" col col-66">
            <div class="row" style="min-width: 140px;">
              <div class="col col-100" style="text-align: center;">
                <ion-radio ng-model="chooseList.list" ng-value="'{{item.title}}'"
                           style="padding: 0; border: none;z-index: 11111">
                  <h2>{{item.title}}</h2>
                </ion-radio>
              </div>
            </div>
          </div>
          <div class="col col-33" style="min-width: 140px;">
            <ion-option-button class="no-style" ng-click="edit(item)"><i
              class="icon ion-compose"
              style="font-size: 3em;"></i>
            </ion-option-button>
            <ion-option-button class="no-style" ng-click="onItemDelete(item)"><i class="icon ion-trash-a"
                                                                                 style="font-size: 3em;"></i>
            </ion-option-button>
          </div>
        </div>
      </ion-item>


    </ion-list>

  </ion-content>

  <div class="col-offset-80 fixed-div">
    <div class="row">
      <button class="button button-balanced" style="width: 100%;" ng-click="create();">{{"crea" | translate}}
      </button>
    </div>
    <div class="row">
      <button class="button button-balanced" style="width: 100%; margin-top: 1em;margin-bottom: 2em;"
              ng-click="playGame();">{{"avvia" |
        translate}}
      </button>
    </div>
  </div>

</ion-view>
