<ion-view view-title="{{'inizia' | translate}}">
  <ion-content>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 col-center">
        <h1>{{"scegliLista" | translate}}</h1>
      </div>
      <div class="col col-10"></div>
    </div>
    <ion-list ng-controller="MyCtrl">
      <ion-item ng-repeat="item in items">
        <div class="row">
          <div class="col col-10"></div>
          <div class="col col-80 col-center">
            <h2>{{item}}</h2>
          </div>
          <div class="col col-10"></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <div>
    <div class="col-offset-80 fixed-div">
      <div class="row">
        <button class="button button-balanced" style="width: 100%;">{{"crea" | translate}}</button>
      </div>
      <div class="row">
        <button class="button button-balanced" style="width: 100%; margin-top: 1em;margin-bottom: 2em;">{{"avvia" |
          translate}}
        </button>
      </div>
    </div>
  </div>
</ion-view>
