<ion-view view-title="{{'inizia' | translate}}">
  <ion-content>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 col-center">
        <h1>{{"scegliLista" | translate}}</h1>
      </div>
      <div class="col col-10"></div>
    </div>
    <ion-list>
      <ion-item ng-repeat="item in items">
        <div class="row">
          <div class="col col-20">
            <div class="row">
              <button class="no-style" ng-click="edit(item)"><i
                class="icon ion-compose"
                style="font-size: 30px;"></i>
              </button>
              <button class="no-style" ng-click="onItemDelete(item)"><i class="icon ion-trash-a"
                                                                        style="font-size: 30px;margin-left: 1em"></i>
              </button>
            </div>
          </div>
          <ion-radio ng-model="choice" ng-value="'{{item.title}}'" style="height: 100%;width: 100%; padding: 0;
border: none;">
            <div class="col col-offset-30" style="text-align: center">
              <h2>{{item.title}}</h2>
            </div>
          </ion-radio>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="col-offset-80 fixed-div">
    <div class="row">
      <button class="button button-balanced" style="width: 100%;" ng-click="create();">{{"crea" | translate}}
      </button>
    </div>
    <div class="row">
      <button class="button button-balanced" style="width: 100%; margin-top: 1em;margin-bottom: 2em;">{{"avvia" |
        translate}}
      </button>
    </div>
  </div>

</ion-view>
