<ion-view view-title="Scegli Lingua">
  <ion-content class="generic-background">
    <div class="row" style="height: 25%;">
    </div>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 col-center">
        <div class="list">

          <label class="item item-input item-stacked-label">
            <span class="input-label">Lingua madre</span>
            <input type="text" placeholder="Italiano" required>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Lingua da impare</span>
            <input type="text" placeholder="Inglese" required>
          </label>
          <div class="col-offset-66" style="margin-top: 5%;">
            <button class="button button-balanced button-large">
              {{"submit" | translate}}
            </button>
          </div>

        </div>
      </div>
      <div class="col col-10"></div>
    </div>

  </ion-content>
</ion-view>
